/******************************************
*                Margin                   *
*******************************************/
/** Margin Top **/
.m-t-0 {
    margin-top: 0px !important;
}
.m-t-5 {
    margin-top: 5px !important;
}
.m-t-10 {
    margin-top: 10px !important;
}
.m-t-15 {
    margin-top: 15px !important;
}
.m-t-20 {
    margin-top: 20px !important;
}
.m-t-25 {
    margin-top: 25px !important;
}
.m-t-30 {
    margin-top: 30px !important;
}
/** Margin Bottom **/
.m-b-0 {
    margin-bottom: 0px !important;
}
.m-b-5 {
    margin-bottom: 5px !important;
}
.m-b-10 {
    margin-bottom: 10px !important;
}
.m-b-15 {
    margin-bottom: 15px !important;
}
.m-b-20 {
    margin-bottom: 20px !important;
}
.m-b-25 {
    margin-bottom: 25px !important;
}
.m-b-30 {
    margin-bottom: 30px !important;
}
/** Margin Left **/
.m-l-0 {
    margin-left: 0px !important;
}
.m-l-5 {
    margin-left: 5px !important;
}
.m-l-10 {
    margin-left: 10px !important;
}
.m-l-15 {
    margin-left: 15px !important;
}
.m-l-20 {
    margin-left: 20px !important;
}
.m-l-25 {
    margin-left: 25px !important;
}
.m-l-30 {
    margin-left: 30px !important;
}
/** Margin Right **/
.m-r-0 {
    margin-right: 0px !important;
}
.m-r-5 {
    margin-right: 5px !important;
}
.m-r-10 {
    margin-right: 10px !important;
}
.m-r-15 {
    margin-right: 15px !important;
}
.m-r-20 {
    margin-right: 20px !important;
}
.m-r-25 {
    margin-right: 25px !important;
}
.m-r-30 {
    margin-right: 30px !important;
}


/******************************************
*                Padding                  *
*******************************************/
.no-padding {
    padding: 0 !important;
}
/** Padding Top **/
.p-t-0 {
    padding-top: 0px !important;
}
.p-t-5 {
    padding-top: 5px !important;
}
.p-t-10 {
    padding-top: 10px !important;
}
.p-t-15 {
    padding-top: 15px !important;
}
.p-t-20 {
    padding-top: 20px !important;
}
.p-t-25 {
    padding-top: 25px !important;
}
.p-t-30 {
    padding-top: 30px !important;
}
.p-b-5 {
    padding-bottom: 5px !important;
}
/** Padding Bottom **/
.p-b-0 {
    padding-bottom: 0px !important;
}
.p-b-5 {
    padding-bottom: 5px !important;
}
.p-b-10 {
    padding-bottom: 10px !important;
}
.p-b-15 {
    padding-bottom: 15px !important;
}
.p-b-20 {
    padding-bottom: 20px !important;
}
.p-b-25 {
    padding-bottom: 25px !important;
}
.p-b-30 {
    padding-bottom: 30px !important;
}
/** Padding Left **/
.p-l-0 {
    padding-left: 0 !important;
}
.p-l-10 {
    padding-left: 10px !important;
}
.p-l-15 {
    padding-left: 15px !important;
}
.p-l-20 {
    padding-left: 20px !important;
}
.p-l-25 {
    padding-left: 25px !important;
}
.p-l-30 {
    padding-left: 30px !important;
}
/** Padding Right **/
.p-r-0 {
    padding-right: 0px !important;
}
.p-r-5 {
    padding-right: 5px !important;
}
.p-r-10 {
    padding-right: 10px !important;
}
.p-r-15 {
    padding-right: 15px !important;
}
.p-r-20 {
    padding-right: 20px !important;
}
.p-r-25 {
    padding-right: 25px !important;
}
.p-r-30 {
    padding-right: 30px !important;
}

/******************************************
*            Background Color             *
*******************************************/
.bg-blue {
    background-color: #1F4075;
}
.bg-light-blue {
    background-color: #335284;
}
.bg-purple {
    background-color: #564AA3;
}
.bg-light-purple {
    background-color: #7266BA;
}
.bg-green {
    background-color: #2B957A;
}
.bg-light-green {
    background-color: #37BC9B;
}
.bg-red {
    background-color: #E53935;
}
.bg-light-red {
    background-color: #EF5350;
}

.bg-pink {
    background-color: #CE2F4F;
}
.bg-light-pink {
    background-color: #DC4D6A;
}
.bg-green1 {
    background-color: #348E54;
}

