/******************************************
*               General                   *
*******************************************/
html, body, body > .wrapper {
    height: 100%;
    min-height: 100%;
}

body {
    font-family: "Roboto", Helvetica, Arial, sans-serif;
    font-size: 13px;
    color: #82858A;
    background: #efefef;
}

.clear {
    clear: both;
}
a {
    color: #82858A;
    text-decoration: none;
    cursor: pointer;
}

a:hover {
    text-decoration: none;
}

.error {
    color: red;
}

.pace {
    position: absolute;
    z-index: 999999;
    -webkit-pointer-events: none;
    pointer-events: none;

    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.pace-inactive {
    display: none;

}

.pace .pace-progress {
    background: #29d;
    position: fixed;
    z-index: 2000;
    top: 0;
    right: 100%;
    width: 100%;
    height: 2px;
}

.bootstrap-datetimepicker-widget {
    position: absolute;
    z-index: 99999;
}

.slider {
    visibility: hidden;
}

.spinner {
    position: absolute;
    z-index: 99999;
    left: calc(50% - 16px);
    top: calc(38% - 16px);
}

/******************************************
*               Login Page                *
*******************************************/
#login .wrapper {
    width: 330px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -170px;
    margin-top: -202px;
}
#login .panel-heading {
    background: #000 !important;
}
#login .panel-body {
    padding: 40px 20px 20px;
}
#login h3 {
    font-weight: 600;
}


/******************************************
*               Sidebar                   *
*******************************************/
#sidebar {
    position: fixed;
    width: 240px;
    background: #2f353f;
    min-height: 100%;
    height: 100%;
    overflow: auto;
    z-index: 1000;
    /*-webkit-transition: width 0.25s ease-in-out;*/
    /*-moz-transition: width 0.25s ease-in-out;*/
    /*transition: width 0.25s ease-in-out;*/
}

#sidebar.collapsed {
    width: 60px;
    text-align: center;
    overflow: inherit;
}
#sidebar.collapsed + #content {
    margin-left: 60px;
}
#sidebar.collapsed + #content .header > .wrapper {
    left: 60px;
    width: calc(100% - 60px);
}

#sidebar.collapsed > .navigation > ul > li > a > .nav-label {
    display: none;
}

#sidebar .logo {
    text-align: center;
    padding: 0;
    background-color: #fff;
}
#sidebar.collapsed .logo {
    padding: 17px 0px;
    margin-bottom: 0;
}

#sidebar.collapsed .logo img {
    width: 47px;
}

#sidebar .logo img {
    width: 103px;
    color: #fff;
}

#sidebar .navigation {
    color: #C9CACC;
}
#sidebar .navigation ul > li > a, #sidebar .navigation ul > li > div {
    display: block;
    position: relative;
    color: rgb(218, 218, 218);
    font-weight: 500;
    font-size: 13px;
    padding: 18px 10px;
}

/** Sub Navigation **/
#sidebar .navigation ul > li > ul {
    background-color: #272c35;
    padding: 25px 0;
}

#sidebar .navigation ul > li > ul > li a {
    display: block;
    position: relative;
    color: rgb(218, 218, 218);
    font-weight: 500;
    font-size: 13px;
    padding: 10px 0 10px 36px;
}

#sidebar .navigation ul > li > ul > li a:active {
    font-weight: bold;
}

#sidebar .navigation ul > li > ul > li:first-child a {
    padding-top: 0;
}
#sidebar .navigation ul > li > ul > li:last-child a {
    padding-bottom: 0;
}
/* End Of Sub Navigation */

#sidebar.collapsed .navigation ul li a {
    padding: 5px 20px;
}

#sidebar .navigation ul li a:hover, #sidebar .navigation ul li a:active {
    color: #ccc;
    text-decoration: none;
}

#sidebar .navigation ul > li > a > i, #sidebar .navigation ul > li > div > i {
    float: left;
    margin-right: 15px;
    font-size: 18px;
}

#sidebar.collapsed .navigation ul > li > a > i, #sidebar.collapsed .navigation ul > li > div > i {
    float: none;
    font-size: 20px;
    margin: 0;
    padding: 15px 0;
}

#sidebar .navigation ul.nav-label-mobile {
    display: none;
}

#sidebar .navigation ul.sub-nav {
    display: block;
}

#sidebar.collapsed .navigation ul.sub-nav {
    display: none;
}

#sidebar.collapsed .navigation ul > li:hover ul.nav-label-mobile {
    display: block;
    padding: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 60px;
    width: 245px;
    text-align: left;
    line-height: 60px;
}

#sidebar.collapsed .navigation > ul > li {
    position: relative;
}


#sidebar.collapsed .navigation > ul > li {
    position: relative;
}

#sidebar.navigation > ul li > ul li a {
    display: none;
}

.badge {
    float: right;
    margin-right: 10px;
    font-size: 11px;
}

#sidebar.collapsed .navigation > ul li:hover ul.nav-label-mobile li .badge {
    margin-top: 23px;
}

#sidebar.collapsed .navigation > ul li:hover ul.nav-label-mobile li a {

}

/******************************************
*               Content                   *
*******************************************/
#content {
    margin-left: 240px;
    background-color: #efefef;
    height: 100%;
    -webkit-transition: width 0.25s ease-in-out;
    -moz-transition: width 0.25s ease-in-out;
    transition: width 0.25s ease-in-out;
}
/******************************************
*             Content Header              *
*******************************************/
#content .header {
    position: relative;
    z-index: 1000;
    height: 63px;

}
#content .header > .wrapper {
    position: fixed;
    left: 220px;
    width: calc(100% - 220px);
    background-color: #fff;
}
#content .header .nav-toggle {
    line-height: 63px;
    cursor: pointer;
}
#content .header .nav-toggle i {
    color: #3D4051;
    font-size: 20px;
    padding: 0 30px 0 ;
}
#content .header .user-menu a {
    color: inherit;
    text-align: center;
    padding: 9px 15px;
    font-size: 15px;
    display: block;
}
#content .header .user-menu a > img {
    width: 40px;
    margin-right: 10px;
    border: 2px solid #CCC;
}

#content .header .user-menu a {
    color: inherit;
    text-align: center;
    padding: 9px 15px;
    font-size: 15px;
    display: block;
}

#content .header .user-menu > ul.dropdown-menu {
    margin-top: 0;
    top: 63px;
    outline: none;
    border-radius: 0;
    padding: 0;
}

#content .header .user-menu > ul.dropdown-menu > li i {
    margin-right: 10px;
    font-size: 17px;
}

/******************************************
*               Breadcrumb                *
*******************************************/
#content .breadcrumb-wrapper {
    background-color: #e7e7e7;
}

#content .breadcrumb-wrapper .breadcrumb {
    padding: 20px 30px;
    font-size: 13px;
    background: #e7e7e7;
    margin-bottom: 0;
}

#content .breadcrumb-wrapper .breadcrumb li a {
    color: #CA3251;
}

/******************************************
*              Pagination                 *
*******************************************/
.pagination-text {
    margin: 20px 0;
    font-size: 14px;
    padding-left: 20px;
    line-height: 72px;
}


/******************************************
*            Content Body                 *
*******************************************/
#content .body {
    padding: 30px;
    -webkit-transition: width 0.25s ease-in-out;
    -moz-transition: width 0.25s ease-in-out;
    transition: width 0.25s ease-in-out;
}

/******************************************
*               Dashboard                 *
*******************************************/
#content .body .dashboard .panel i {
    color: #fff;
    opacity: 0.3;

}
#content .body .dashboard .panel .panel-body {
    padding: 15px 30px;
}
#content .body .dashboard .statistic .panel-body {
    padding: 0px;
}
#content .body .dashboard .box {
}
#content .body .dashboard .panel .box-left {
    padding: 25px 0;
}
#content .body .dashboard .panel .box-right {
    padding: 10px 20px;
}
#content .body .dashboard .panel .box-right .text-top{
    font-size: 24px;
    color: #fff;
}
#content .body .dashboard .panel .box-right .text-bottom{
    margin-top: 10px;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
}
#content .body .submission-chart #submissionForEachProduct {
    margin-top: 20px;
    height: 400px;
}

/******************************************
*           List of Submission            *
*******************************************/
#content .body .table-heading {
    margin-bottom: 20px;
}
#content .body .submission .filter .well {
    background-color: #fff;
}
#content .body #shortlist-submission {
    font-size: 12px;
    width: 120px;
    margin-left: 10px;
    line-height: 20px;
    color: #fff;
    letter-spacing: 1px;
    font-weight: bold;
}
#content .body .submission .detail tr td:first-child {
    background-color: #ececec;
}

#content .body .submission .btn {
    font-size: 12px;
    font-weight: 500;
    width: 160px;
    margin-left: 10px;
}

#content .body .submission .data_per_page {
    height: 38px;
    width: 100px;
    line-height: 22px;
    color: #fff;
}

#content .body .submission .change-limit-text {
    float: right;
}
#content .body .submission #change-limit {
    width: 185px;
    float: right;
}

/******************************************
*          Submission Detail              *
*******************************************/
.submission-detail {
    padding: 30px 50px;
    background: #f4f4f4;
    overflow: hidden;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

.submission-detail .artworkImages {
    background: #fff;
    padding: 0px;
}

.modal-dialog {
    width: 70%;
    margin: 30px auto;
}
.modal-content {

}

.submission-detail .flexslider {
    margin: 0;
}
.submission-detail .flex-control-thumbs img {
    height: 90px;
}
.submission-detail .flex-direction-nav a:before {
    font-size: 32px;
}

.submission-detail .flex-direction-nav a {
    top: 40%;
}
.submission-detail .btn {
    width: 160px !important;
}
.zoomContainer {
    z-index: 9999;
}
#bx-pager img {
    max-width: 100px;
}
.bx-wrapper {
    margin: 0 auto 15px !important;
}
.bx-wrapper .bx-prev {
    left: -35px !important;
}
.bx-wrapper .bx-next {
    right: -35px !important;
}
.submission-detail .bx-wrapper .bx-viewport {
    left: 0px;
    box-shadow: none;
    border: none;
}
.zoom {
    max-width: 439px;
}
#close-popup {
    position: absolute;
    top: -15px;
    right: -15px;
    width: 30px;
    height: 30px;
    background: transparent url('../../images/fancybox.png') -40px 0px;
    cursor: pointer;
    z-index: 1103;
    display: none;
}

.ribbon-wrapper {
    width: 170px;
    height: 140px;
    overflow: hidden;
    position: absolute;
    top: -2px;
    right: -2px;
    z-index: 99999;
}

.ribbon-red {
    font: bold 14px Sans-Serif;
    color: #333;
    text-align: center;
    text-shadow: rgba(255,255,255,0.5) 0px 1px 0px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    position: relative;
    padding: 7px 0;
    left: -5px;
    top: 39px;
    width: 244px;
    background-color: #ca3251;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#CE1A3E), to(#ca3251));
    background-image: -webkit-linear-gradient(top, #CE1A3E, #ca3251);
    background-image: -moz-linear-gradient(top, #CE1A3E, #ca3251);
    background-image: -ms-linear-gradient(top, #CE1A3E, #ca3251);
    background-image: -o-linear-gradient(top, #CE1A3E, #ca3251);
    color: #FFFFFF;
    -webkit-box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
    box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
}

.ribbon-red:before, .ribbon-red:after {
    content: "";
    border-top:   3px solid #6e8900;
    border-left:  3px solid transparent;
    border-right: 3px solid transparent;
    position:absolute;
    bottom: -3px;
}

.ribbon-red:before {
    left: 0;
}
.ribbon-red:after {
    right: 0;
}
/******************************************
*               Votes Status              *
*******************************************/
.progress {
    background-color: #ECECEC;
    -webkit-box-shadow: 0px 0px 8px -2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 8px -2px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 8px -2px rgba(0,0,0,0.75);
}

/******************************************
*               Responsive                *
*******************************************/
/* Portrait */
@media screen and (max-width: 768px) {
    /* Sidebar Section */
    #sidebar {
        display: none;
    }

    #sidebar.expand {
        display: block;
        width: 220px;
        left: 0px;
        overflow: hidden !important;
        z-index: 99999;
    }

    #sidebar.expand > .navigation > ul > li > a > .nav-label {
        display: block;
        text-align: left;
    }

    #sidebar.expand .navigation ul li a {
        padding: 16px 20px;
        margin: 0;
    }

    #sidebar.expand .navigation ul li a i {
        float: left;
        margin-right: 15px;
        font-size: 18px;
        padding: 0;
    }

    #sidebar.expand + #content {
        transform: translate3d(220px, 0, 0);
        margin-left: 0;
    }

    #sidebar.expand + #content .header > .wrapper {
        left: 0px;
        width: 100%;
    }

    /* Content Section */
    #content {
        margin-left: 0;
    }

    #content {
        margin-left: 0px;
    }
    #content .header > .wrapper {
        position: fixed;
        left: 0;
        width:100%;
        background-color: #fff;
        box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
    }
    #content .body .dashboard .panel i {
        font-size: 3em;
    }

    #content .body .dashboard .panel .box-right .text-top {
        font-size: 20px;
        color: #fff;
        text-align: center;
    }
    #content .body .dashboard .panel .box-right .text-bottom {
        margin-top: 5px;
        color: #fff;
        text-transform: uppercase;
        text-align: center;
    }
    #content .body .submission .filter .well .btn {
        float: none !important;
        margin-bottom: 10px;
        margin-left: 0px;
        margin-right: 10px;
        width: 100%;
    }

    #content .body .submission .panel .table-heading .text h4 {
        font-size: 15px;
    }

    #content .body .submission .panel .table-heading .button {
        margin: 15px 0 20px;
    }

    #content .body .submission .panel .table-heading .button .btn {
        width: 100px;
        display: inline-block;
        float: none !important;
    }

    #content .body .submission .panel .table-heading .button .btn:first-child {
        margin-left: 0;
    }

    .modal-dialog {
        width: 95%;
        margin: 30px auto;
    }

}