@charset "utf-8";
@font-face {
    font-family: 'nanR';
    src: url('../../fonts/nanR.eot');
    src: url('../../fonts/nanR.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/nanR.woff') format('woff'),
         url('../../fonts/nanR.ttf') format('truetype'),
         url('../../fonts/nanR.svg#nanR') format('svg');
    font-weight:normal;
    font-style: normal;
}

@font-face {
    font-family: 'osR';
    src: url('../../fonts/DINNextW01Regular.eot');
    src: url('../../fonts/DINNextW01Regular.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/DINNextW01Regular.woff') format('woff'),
         url('../../fonts/DINNextW01Regular.ttf') format('truetype'),
         url('../../fonts/DINNextW01Regular.svg#nanR') format('svg');
    font-weight:normal;
    font-style: normal;
}
@font-face {
    font-family: 'osB';
    src: url('../../fonts/DINNextW01Bold.eot');
    src: url('../../fonts/DINNextW01Bold.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/DINNextW01Bold.woff') format('woff'),
         url('../../fonts/DINNextW01Bold.ttf') format('truetype'),
         url('../../fonts/DINNextW01Bold.svg#nanR') format('svg');
    font-weight:normal;
    font-style: normal;
}

/* reset */
* {padding:0; margin:0; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
	display:block;
}
blockquote, q {quotes:none;}
blockquote:before, blockquote:after,
q:before, q:after {
	content:'';
	content:none;
}
del {text-decoration: line-through;}
abbr[title], dfn[title] {
	border-bottom:1px dotted #ccc;
	cursor:help;
}
.clear {clear:both;}
.clear:after {
	display:block; 
	visibility:hidden; 
	clear:both; 
	height:0; 
	content: "."; 
}
a{text-decoration:none; color:#ff2350;}
a img {border:none;}
img {border: 0px; -ms-interpolation-mode: bicubic; vertical-align: middle;}
input:focus, textarea:focus, select:focus {outline: none;}
sub, sup {font-size: 75%; line-height: 0; position: relative; vertical-align: baseline;}
sup {top: -0.5em;}
sub {bottom: -0.25em;}
table button, table input {*overflow: auto;}
::-webkit-input-placeholder{ color: #b0b0b0; font-family:'osR';}
:-moz-placeholder{ color: #b0b0b0; font-family:'osR';}
::-moz-placeholder{ color: #b0b0b0; font-family:'osR';}
:-ms-input-placeholder{ color: #b0b0b0; font-family:'osR';}
/* end */

h1, h2, h3, h4, h5, h6 {font-weight: normal;}
h1{font-size:2.5em; font-family:'nanR'; line-height:1em; text-align:center;}
h2{font-size:1.875em; font-family:'nanR'; line-height:1em; }
h3{font-size:1.5em; font-family:'osB'; line-height:1em; }
h4{font-size:1.125em}
p{font-size:1em; line-height:1.5em; font-family:'osR';}
.seoText {display: none;}
.hide {display: none;}
.left {float: left;}
.right {float: right;}
.trans{
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
/* basic */
::selection { background: #b1dfd4; color: #1e2323;}
::-moz-selection { background: #b1dfd4; color: #1e2323}
a::selection { color: #1e2323;}

html, body {width: 100%; height: 100%;}
body {
	font-family: "osR";
	vertical-align: top;
	line-height: 1.5em;
	font-size: 100%;
	margin: 0;
	padding: 0px;
	text-align: left;
	position: relative;
	color: #1e2323;
	background:#e2e0d1;
}
.wrapper, .mainContent{
	position:relative;
	display:block;
	width:100%;
}
.mainContent{
	padding-top:100px;
}
.subLandingMenu{
	width:100%;
	overflow:auto;
	position:fixed;
	cursor:pointer; 
	overflow:hidden;
	top:100px; 
	z-index:11;
}
/*Navigation*/
.mainNavi{
	position:fixed;
	display:block;
	width:100%;
	background:url(../../images/bg_navi.jpg) center center repeat;
	height: 100px;
	z-index:10;
}
.naviContent{
	max-width:1293px;
	margin:0 auto;
	position:relative;
	display:block;
}
.mainLogo{
	position:relative;
	display:block;
	width:35%;
	float:left;
}
.mainLogo img{
	display:block;
	top:0;
	left:0;
}
.navigation{
	position:relative;
	display:block;
	width:50%;
	float:left;
	font-family:'nanR';
	color:#fff;
	font-size:1.625em;
	line-height:1em;
}
a.btnCloseMenu, a.btnBurger{display:none;}
.navigation ul{
	margin:40px 0 0;
	padding:0;
}
.navigation ul li{
	list-style-type: none;
	display:inline-block;
	padding:0 20px;
}
.navigation ul li a{
	color:#fff;
	padding:20px 0 5px 0;
}
.navigation ul li a:hover{
	color:#ff2350;
}
.navigation ul li a.active{
	color:#ff2350;
	cursor:default;
	border-bottom:2px solid #bebebe;
}
.navigation ul li a.active span{
	background:url(../../images/icon_navi_arrow.png) 0 0 no-repeat;
	width:18px;
	height:18px;
	display:block;
	float:left;
	margin:5px 10px 0 0;
}
/*sub navigation*/
.subNavi{
	position:relative;
	display:block;
	width:100%;
	background:#fff;
	z-index:3;
	
}
.subNavi ul{
	margin:0;
	padding:0;
	text-align:center;
	width:895px;
	width:100%;
	margin:0 auto;
	background:#fff;
}
.subNavi ul li{
	padding:0 10px 15px;
	list-style-type:none;
	display:inline-block;
}
.subNavi ul li a{
	color:#1e2323;
	font-size:1.2em;
	font-family:'osR';
	padding:20px 5px 5px 0;
	display:block;
}
.subNavi ul li a:hover{
	color:#ff2350
}
.subNavi ul li a.active{
	border-bottom:3px solid #ff00b4;
	cursor:default;
	color:#1e2323;
}
.subNavi ul li a.active span{
	background:url(../../images/icon_sub_navi_arrow.jpg) 0 0 no-repeat;
	width:13px;
	height:13px;
	display:block;
	float:left;
	margin:5px 5px 0 0;
}
/*landing*/
.mainHeader{
	position:relative;
	display:block;
	width:100%;
	background:url(../../images/texture_landing_header.jpg) 0 0 repeat;
	height:600px;
	margin-top:67px;
	overflow:hidden;
}
div.scroll::-webkit-scrollbar-track {
   background-color:#0C9;
 }
 
.headerContent{
	position:relative;
	display:block;
	width:35%;
	padding:100px 20px 0;
	z-index:2;
	float:left;
 }
.logoMasthead{
	position:relative;
	display:block;
	float:left;
	width:35%;
	margin-top:40px;
 }
.logoMasthead img{
	width:100%;
	max-width:482px
}
.headerImg{
	position:relative;
	display:block;
	width:30%;
	float:left;
}
.headerImg img{
	width:100%;
	float:right;
	max-width:399px;
}
.headerImg .mob{
	display:none;
}
.scrollDownIcon{
	position:relative;
	display:block;
	font-family:'osB';
	color:#ff2350;
	text-align:center;
	margin:50px 0 0;
}
.scrollDownIcon img{
    -webkit-animation-name: Floatingx;
    -webkit-animation-duration: 1.5s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-in-out;
    -moz-animation-name: Floating;
    -moz-animation-duration: 3s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: ease-in-out;
}
@-webkit-keyframes Floatingx{
    from {-webkit-transform:translate(0, 0px);}
    65% {-webkit-transform:translate(0, 10px);}
    to {-webkit-transform: translate(0, -0px);    }    
}
    
@-moz-keyframes Floating{
    from {-moz-transform:translate(0, 0px);}
    65% {-moz-transform:translate(0, 10px);}
    to {-moz-transform: translate(0, -0px);}    
}
.eventTimeline{
	position:relative;
	display:block;
	width:100%;
	background:#ffde00;
	padding:60px 0 0; 
}
.eventTimeline h4, .categories h4, .prizesBox h4, .howToJoin h4, .judgesBox h4, .judgingCriteria h4{
	text-align:center;
	margin-top:10px;
}
.timelineBox{
	position:relative;
	display:block;
	max-width:1168px;
	margin:40px auto 0;
	text-align:center;
}

.timelineContent{
	position:relative;
	display:block;
	width:50%;
	padding:0 20px;
	float:left;
	z-index:1
}
.timelineContent h2{
	font-family:'osB';
}
.timelineContent h3{
	margin:10px 0 60px 0;
	color:#ff00b4;
}
.timelineContent h3 span{
	background:url(../../images/icon_navi_arrow.png) -18px 0 no-repeat;
	width:18px;
	height:18px;
	display:inline-block;
	margin-right:10px;
}
.eventTextureLeft{
	position:absolute;
	display:block;
	background:url(../../images/texture_event_left.jpg) 0 0 no-repeat;
	bottom:0;
	left:0;
	width:178px;
	height:186px;
}
.eventTextureRight{
	position:absolute;
	display:block;
	background:url(../../images/texture_event_right.jpg) 0 0 no-repeat;
	bottom:0;
	right:0;
	width:198px;
	height:410px;
}
.categories{
	position:relative;
	display:block;
	width:100%;
	background:#fff;
	padding: 40px 0 0;
}
.categoriesType{
	position:relative;
	display:block;
	width:50%;
	float:left;
	min-height:475px;
}
.fineArtImg{
	background:url(../../images/bg_category_fine_art.jpg) 0 0 no-repeat;
	margin:40px 0 0;
}
.digitalArtImg{
	background:url(../../images/bg_category_digital_art.jpg) 0 0 no-repeat;
	margin:40px 0 0;
}
.categoryContent{
	position:absolute;
	display:block;
	width:85%;
	bottom:0;
	left:0;
}
.categoryContent h1{
	text-align:left !important;
	padding:0 0 20px 60px;
	color:#fff;
	font-size:3.5em;
}

.categoryContentDesc{
	background:#000;
	color:#fff;
	padding:30px 30px 30px 60px;
}
.prizes{
	position:relative;
	display:block;
	width:100%;
	background:#bdfae3;
}
.prizesBox, .howToJoinBox, .judgesBox{
	position:relative;
	display:block;
	max-width:970px;
	margin:0 auto;
	padding:60px 0 80px;
	z-index:1;
}
.prizesBox ul, .howToJoin ul, .judgesBox ul{
	margin:60px 0 0;;
	padding:0;
}
.prizesBox ul li, .howToJoin ul li, .judgesBox ul li{
	list-style-type:none;

	width:33.3%;
	float:left;
	padding:0 20px;
	text-align:center;
}
.prizesBox ul li h2 span, .consoPrize h2 span, .judgingCriteriaBox h2 span{
	background:url(../../images/icon_navi_arrow.png) -36px 0 no-repeat;
	width:18px;
	height:18px;
	display:inline-block;
	margin-right:10px;
}
.prizesBox ul li h2, .consoPrize h2, .howToJoinBox ul li h2{
	padding-bottom:10px;
}
.prizesBox ul li img, .consoPrize img{
	margin-top:20px;
}
.prizesBox ul li span, .consoPrize span{
	background:url(../../images/icon_line.png) 0 0 no-repeat;;
	display:block;
	width:148px;
	height:15px;
	margin: 20px auto 0;
}
.consoPrize{
	width:50%;
	margin:50px auto 0;
	position:relative;
	text-align:center;
}
.prizesTextureLeft{
	position:absolute;
	display:block;
	background:url(../../images/texture_prizes_left.jpg) 0 0 no-repeat;
	left:0;
	width:190px;
	height:245px;
	bottom:30px;
}
.prizesTextureRight{
	position:absolute;
	display:block;
	background:url(../../images/texture_prizes_right.jpg) 0 0 no-repeat;
	right:0;
	width:198px;
	height:377px;
	bottom:50px;
}
.howToJoin{
	position:relative;
	display:block;
	width:100%;
	background:#ebe6c8;
	z-index:1;
}
.howToJoin ul li .stepImg{
	display:block;
	height:243px;
}
.stepContent{
	position:relative;
	display:block;
}
.step1{
	background:url(../../images/icon_how_to_join.jpg) 0 0 no-repeat;
	width:229px;
	margin:0 auto 30px;
}
.step2{
	background:url(../../images/icon_how_to_join.jpg) -229px 0 no-repeat;
	width:228px;
	margin:0 auto 30px;
	position:relative;
}
.step3{
	background:url(../../images/icon_how_to_join.jpg) -457px 0 no-repeat;
	width:219px;
	margin:0 auto 30px;

}
.howToJoin ul {
	margin:60px 0 30px;
}
.howToJoin ul li h2 span{
	background:url(../../images/icon_navi_arrow.png) -54px 0 no-repeat;
	width:18px;
	height:18px;
	display:inline-block;
	margin-right:10px;
}
.howToJoin ul li span{
	background:url(../../images/icon_line.png) 0 -15px no-repeat;;
	display:block;
	width:148px;
	height:15px;
	margin: 20px auto 0;
}
a.btnCta{
	background:#ff2350;
	color:#fff;
	font-family:'nanR';
	font-size:1.563em;
	line-height:1em;
	padding:20px;
	display:block;
	margin: 0 auto 0;
	width:20%;
	text-align:center;
}
a.btnCta:hover{
	background:#ff00b4;
}
.joinTextureTopLeft{
	position:absolute;
	display:block;
	width:228px;
	height:343px;
	top:0;
	left:0;
	background:url(../../images/texture_steps_top_left.jpg) 0 0 no-repeat;
}
.joinTextureTopRight{
	position:absolute;
	display:block;
	width:376px;
	height:345px;
	top:0;
	right:0;
	background:url(../../images/texture_steps_top_right.jpg) 0 0 no-repeat;
}
.joinTextureBottomRight{
	position:absolute;
	display:block;
	width:178px;
	height:309px;
	bottom:0;
	right:0;
	background:url(../../images/texture_steps_bottom_right.jpg) 0 0 no-repeat;
}
.joinTextureBottomLeft{
	position:absolute;
	display:block;
	width:191px;
	height:140px;
	bottom:0;
	left:0;
	background:url(../../images/texture_steps_bottom_left.jpg) 0 0 no-repeat;
}
.judges{
	position:relative;
	display:block;
	width:100%;
	background:#fff;
}
.judgesBox ul li{
	margin-bottom:33px;
	padding:20px;
}

.judgesBox ul li a{
	display:block;
	width:100%;
	position:relative;
	color:#1e2323;
}
.judgesBox ul li:hover a{
	color:#0087b4;
}
.judgesBox ul li a img{
	width:80%;
}
.judgesBox ul li a img.judgesHover{
	position:absolute;
	display:block;
	z-index:1;
	left:10%;
}
.judgesBox ul li a img.judgesOri{
	position:relative;
	display:block;
	margin-left:10%;
}
.judgesBox ul li:hover a img.judgesHover{
	display:none;
}
.judgesBox ul li:hover{
	background:#ffde00;
}

.judgesBox ul li h3{
	margin:20px 0 10px;
}
.judgesBox ul li a p{
	padding:0 0 20px;
}
.judgesBox span{
	text-align:center;
	color:#ff2350;
	font-family:'osB';
	display:none;
	font-style:italic;
	font-size:1.125em;
	line-height:1.2em;
	padding:15px 0 0;
}
.judgesPopUp{
	position:absolute;
	display:none;
	width:100%;
	background:url(../../images/bg_judges_pop_up.jpg) 0 0 repeat;
	height:100%;
	top:0;
	left:0;
	z-index:2;
}
.judgesDesc{
	position:relative;
	display:block;
	width:95%;
	margin:0 auto;
	background:#fff;
	top: 30%;
}
.judgesSliderLeft, .judgesSliderRight{
	position:absolute;
	display:block;
	width:50px;
	top:0;
	height:100%;
	z-index:3;
}
.judgesSliderLeft{
	left:0;
}
.judgesSliderRight{
	right:0;
}
.judgesSliderLeft span, .judgesSliderRight span{
	position:relative;
	width:18px;
	display:block;
	height:18px;

	top:50%;
	-webkit-transform: translate(0%,-50%);
    -ms-transform: translate(0%,-50%);
    transform: translate(0%,-50%);
}
.judgesSliderLeft span{
	margin: 0 20px 0 20px; 
	background:url(../../images/icon_slider_arrow.jpg) 0 0 no-repeat;
}
.judgesSliderRight span{
	
	background:url(../../images/icon_slider_arrow.jpg) -18px 0 no-repeat;
}
.judgesSliderLeft:hover span{
	margin:0 20px 0 12px;
}
.judgesSliderRight:hover span{
	margin:0 20px 0 8px;
}
.btnClosePopUp{
	position:absolute;
	display:block;
	right:0;
	top:0;
	z-index:4;
	padding:30px;
}
.btnClosePopUp:hover{
	-ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
    transform: rotate(90deg);
}
#slider{
	width:100%;
	min-height:500px;
	position:relative;
	overflow:hidden;
	float:left;
	padding:0;
	z-index:1;
	background:#fff;
}
.slide{
	position:relative;
	width:80%;
	margin:0 auto;
	height:100%;
	display:none;
}
.judgesCopy{
	position:absolute;
	bottom:0;
	left:0;
	padding:3% 20px 20px 20px;
	background: none; /* Modified by Faiz */
	width:100%;
	max-height:100%;
	top:0;
}
.judgesCopy img{
	float:left;
	margin: 50px 50px 50px 0;
}

.judgesCopy h2{
	font-family:'osB';
	padding-top:80px;
}
.judgesCopy p span{
	color:#5f7373
}

.judgingCriteria{
	position:relative;
	display:block;
	width:100%;
	background:#ebe6c8;
}
.judgingCriteriaBox{
	padding:80px 0 60px;
	position:relative;
	display:block;
	margin: 0 auto;
	max-width: 1366px;
}
.judgingCriteriaBox ul{
	margin:20px 0 0;
	padding:0;
}
.judgingCriteriaBox ul li{
	width:20%;
	float:left;
	list-style-type:none;
	font-family:'nanR';
	padding:40px 0;
	text-align:center;
}
.judgingCriteriaBox ul li span{
	font-size:3.75em;
	line-height:1em;
	color:#ff2350;
}
.judgingCriteriaBox ul li h2{
	margin: 10px 0 0;
}
.judgingCriteriaTexture{
	position:absolute;
	display:block;
	background:url(../../images/texture_judging_criteria.jpg) center center repeat;
	width:100%;
	height:26px;
	top:0;
}
/*Submission*/
.submission{
	position:relative;
	display:block;
	width:100%;
	padding: 0 0 320px 0;
}
.submissionContent{
	position:relative;
	display:block;
	width:100%;
	max-width:1108px;
	margin:65px auto 0;
	z-index:1;
}
.submissionContent h1{
	text-align:left;
}
.submissionContent h4 span.pinkFill {
	color: #ff2350;
	font-family: 'osB';
}
.formField{
	margin:20px 0 0;
	position:relative;
	display:block;
	width:50%;
	float:left;
	padding:0 30px 0 0;
}
.rightField{
	padding:0 0 0 30px;
}
.formField h4{
	font-family:'osB';
}
hr{
	height:3px;
	background:#beb9af;
	margin:60px 0; 
	border:0; 
}
form p.btnRadio{width:35%; display:block; float:left; color:#696969; margin:10px 0;}
form label{margin:0; cursor:pointer}
.custom-radio{
		width: 16px;
		height: 16px;
		display: inline-block;
		position: relative;
		z-index: 1;
		top: 3px;
		margin-right:10px;
		background:url(../../images/radio-sprite.png) no-repeat 0 0 transparent;
}
.custom-radio:hover{
	background-position: 0 -16px;
}
.custom-radio.selected{
	background-position: 0 -32px;
}
.custom-radio input[type="radio"]{
	margin: 1px;
	position: absolute;
	z-index: 2;            
	cursor: pointer;
	outline: none;
	opacity: 0;
	/* CSS hacks for older browsers */
	_noFocusLine: expression(this.hideFocus=true); 
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	-khtml-opacity: 0;
	-moz-opacity: 0;
}
.formField strong{
	font-family:'osB';
	font-weight:normal;
	font-size:1.5em;
}
.formField span{
	font-size:1em;
}
.formField span.formDisclaimer{
	color:#5f7373
}
.formField h4{
	font-family:'osR';
}
input[type="text"]{
	margin:5px 0;
	height:40px;
	padding:0 10px;
	font-family:'osR';
	font-size:1em;
}
.browseArtworkField, .browseHighlightField{
	border:2px solid #eb5250;
	width:70%;
	float:left;
	-webkit-appearance:none;
    border-radius: 0;
}
.browseArtwork, .browseHighlight{
	width:30%;
	border:0;
	background:#eb5250;
	color:#fff;
	margin:5px 0;
	font-family:'osB';
	font-size:1.125em;
	height:40px;
	cursor: pointer;
	-webkit-appearance:none;
    border-radius: 0;
}
.browseArtwork:hover{
	background:#ff2350
}
.errorMsg{
	color:#ce0a24;
}
.browseHighlightField{
	border:2px solid #fff;
}
.browseHighlight{
	background:#faa500
}
.browseHighlight:hover{
	background:#f56b00
}
.fullField{
	width:100%;
	border:0;
	-webkit-appearance:none;
    border-radius: 0;
}
.telco{
	width:100%;
	border:0;
	height:40px;
	float:left;
	cursor:pointer;
	padding:0 10px;
	border-radius: 0;
	-webkit-appearance: none;

}
.telcoNo{
	border:0;
	width:77%;
	border:0;
	height:40px;
    border-radius: 0;
}
.customeTelcoBox{
	width:20%;
	border:0;
	height:40px;
	position:relative;
	display:block;
	float:left;
	margin:5px 3% 5px 0;
	background:#fff;
}
.checkbox {
	width: 31px;
	height: 27px;
	padding: 0 5px 0 0;
	background:url(../../images/checkbox.png) no-repeat;
	clear: left;
	float: left;
	cursor: pointer;
}
h3.checkBoxText{
	padding:4px 0 0 40px;
}
p.checkBoxText{
	padding:5px 0 10px 40px;
}
.customeCheckBox{
	display:block;
	width:100%;
	height:40px;
	background:#fff;
	position:relative;
	margin:10px 0 5px;
}
.collStudent{
	width:100%;
	height:40px;
	border:0;
	padding:0 10px;
	background:transparent;
	-webkit-appearance:none;
	cursor:pointer;
}

.selectArrow{
	top: 45%;
	right: 3%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(0, 0, 0, 0);
	border-top-color: #000;
	border-width: 6px;
	margin-left: -6px;
	display:block;
}
.selectArrowTelco{
	right:10%;
}
h4.finalDisclaimer{
	font-family:'osB';
	color:#ff2350;
}
.textArea, .addArea{
	border:0;
	width:100%;
	margin: 5px 0;
	height:120px;
	padding:10px;
	font-size:1em;
	line-height:1.2em;
	resize: none;
	font-family:'osR';
	-webkit-appearance:none;
    border-radius: 0;
}
.addArea{
	height:96px;
}
.submissionContent a {
	color: #1e2323;
	font-family: 'osB';
}
.submissionContent a:hover{
	color:#ff2350;
}
.btnSubmit{
	border:0;
	background:#ff2350;
	color:#fff;
	font-family:'nanR';
	padding:20px 40px;
	font-size:1.875em;
	cursor:pointer;
	-webkit-appearance:none;
    border-radius: 0;
}
.btnSubmit:hover{
	background:#ff0519;
}
.textureSubmissionBackground{
	position:absolute;
	display:block;
	width:100%;
	background:url(../../images/texture_submission.jpg) repeat-x;
	bottom:0;
	left:0;
	height:221px;
}
.textureSubmissionBottomLeft{
	position:absolute;
	display:block;
	width:234px;
	height:234px;
	background:url(../../images/texture_submission_bottom_left.png) 0 0 no-repeat;
	left:0;
	bottom:0
}
.textureSubmissionBottom{
	position:absolute;
	display:block;
	width:253px;
	height:171px;
	background:url(../../images/texture_submission_bottomt.png) 0 0 no-repeat;
	bottom:0;
	right:30%;
}
/*thank you pop up*/
.popUpThankYou{
	position:absolute;
	display:none;
	width:100%;
	height:100%;
	top:0;
	z-index:9999;
}
.transBg{
	background:#000;
	display:block;
	position:absolute;
	width:100%;
	height:100%;
	opacity: 0.8;
	filter: alpha(opacity=0.8)
}
.thankYouWrap{
	width:50%;
	position:fixed;
	display:block;
	left:25%;
	z-index:4;
	bottom:40%;
}
.thankYouBox{
	padding:150px 30px;
	margin:0 auto;
	background:url(../../images/texture_thank_you.jpg) repeat;
	text-align:center;
	-ms-transform: skewY(-3deg); /* IE 9 */
	-webkit-transform: skewY(-3deg); /* Safari */
	transform: skewY(-3deg);

}
.thankYouContent{
	width:100%;
	position:absolute;
	display:block;
	left:0;
	top:0;
	padding:100px 50px 0;
	margin: 0;
	z-index:4;
	text-align:center;
}
.thankYouContent h4{
	padding:20px 0 0;
}
.thankYouContent h4 span{
	background:url(../../images/icon_sub_navi_arrow.jpg) 0 0 no-repeat;
	display:inline-block;
	width:13px;
	height:13px;
	margin-right:20px;
}
a.btnCloseSubmission{
	position:absolute;
	display:block;
	top:10px;
	right:30px;
	z-index:5
}
a.btnCloseSubmission:hover{
	-ms-transform: rotate(90deg); /* IE 9 */
	-webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
	transform: rotate(90deg);
}
/*FAQ*/
.faq{
	position:relative;
	display:block;
	width:100%;
}
.faqContent{
	position:relative;
	display:block;
	width:100%;
	max-width:917px;
	margin:65px auto 100px;
	z-index:1;
	border-bottom:3px solid #beb9af;
}
.faqContent h1{
	margin:0 0 20px 0;
}
a.faqTitle{
	position:relative;
	display:block;
	width:100%;
	font-family:'osB';
	font-size:1.5em;
	line-height:1em;
	padding:20px 30px;
	color:#1e2323;
	cursor:pointer;
	border-top:3px solid #beb9af;
}
a.faqTitle span{
	display:inline-block;
	float:right;
	margin:8px 0 0;
}
a.faqTitle span.arrowUp{
	-ms-transform: rotate(180deg); /* IE 9 */
    -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
    transform: rotate(180deg);
}

.faqExpand{
	position:relative;
	display:none;
	width:100%;
	padding:30px 30px;
	border-top:3px solid #beb9af;
}

.faqQuestion{
	width:100%;
	display:inline-block;
	font-family:'osB';
	font-size:1.5em;
	line-height:1.3em;
}
.faqAnswer{
	width:100%;
	display:inline-block;
	font-family:'osR';
	font-size:1.2em;
	line-height:1.3em;
	margin:20px 0 40px;
}
.faqIndicator{
	display:inline-block;
	width:5%;
	float:left;
}
.faqQuestionContent{
	width:95%;
	display:inline-block;
}
.faqExpand ol{
	margin: 20px 50px;
}
.faqExpand ol li{
	padding:0 0 0 20px;
	list-style-type:lower-roman;
}
.faqExpand ol.alphabet li{
	list-style-type:lower-alpha !important;
	padding:5px 0;
}
.faqExpand ol.roman li{
	list-style-type:lower-roman !important;
}
.prizeTable{
	position:relative;
	display:block;
	margin: 0px 40px;
}
.prizeContent{
	position:relative;
	display:block;
	width:50%;
	border:1px solid #000;
	float:left;
	margin-bottom:30px;
}
.firstBox{
	border-right:0;
}
.prizeTable strong{
	display:block;
	padding: 5px 0;
	padding:10px 20px;
	border-bottom:1px solid #000
}
.prizeTable u{
	margin-top:10px;
	display:block;
	padding:0px 20px;
}
.prizeTable ul{
	margin:0 0 0 20px;;
	padding:10px 20px;
}
.prizeTable ul li{
}
/*footer*/
.footer{
	position:relative;
	display:block;
	width:100%;
	background:#000;
	font-size:0.85em;
}
.footerLinkWrap{
	max-width:1260px;
	margin:0 auto;
	position:relative;
	display:block;
	color:#fff;
	padding:30px 0;

}
.footerLink{
	width:80%;
	position:relative;
	float:left;
	display:block;
	width:70%;
}
.footerLink a{
	color:#fff;
	padding:10px;
	
}
.footerLink a:hover{
	color:#ff2350
}
.footerSocial{
	width:160px;
	position:relative;
	display:block;
	float:right;
}
.footerSocial ul{
	margin:0;
	padding:0;
	width:100%;
	position:relative;
}
.footerSocial ul li{
	display:block;
	list-style-type:none;
	position:relative;
	float:left;
}
a.btnFb{
	display:block;
	position:relative;
	top:-7px;
	padding:10px;
}
a.btnFb span{
	background:url(../../images/icon_social.jpg) 0 0 no-repeat;
	width:10px;
	height:18px;
	display:inline-block;
}
a.btnFb:hover span{
	background:url(../../images/icon_social.jpg) 0 -18px no-repeat;
}
a.btnTwitter{
	display:block;
	position:relative;
	top:-7px;
	right:0px;
	padding:10px;
}
a.btnTwitter span{
	background:url(../../images/icon_social.jpg) -10px 0 no-repeat;
	width:21px;
	height:18px;
	display:inline-block;
}
a.btnTwitter:hover span{
	background:url(../../images/icon_social.jpg) -10px -18px no-repeat;
}
.faqTexture{
	position:absolute;
	display:block;
	width:100%;
	height:100%;
	top:0;
	left:0;
}
.faqTextureLeft{
	position:absolute;
	background:url(../../images/texture_faq_1.jpg) 0 0 no-repeat;
	left:0;
	top:200px;
	width:195px;
	height:248px;
}
.faqTextureRight{
	position:absolute;
	background:url(../../images/texture_faq_2.jpg) 0 0 no-repeat;
	right:0;
	top:50px;
	width:178px;
	height:453px;
}

/* Added 20160713 */
.resultPattern1{
	position: fixed;
	top: 300px;
	left: 0;
	width: 195px;
	height: 248px;
	background: url(../images/texture_faq_1.jpg) 0 0 no-repeat;
}
.resultPattern2{
	position: fixed;
	top: 150px;
	right: 0;
	width: 178px;
	height: 453px;
	background: url(../images/texture_faq_2.jpg) 0 0 no-repeat;
}

.resultContent.first{margin-top:150px;}
.resultContent{border-bottom: none; margin-bottom: 50px;}
.resultTable{margin: 20px 0px;}
.resultTable th{background:rgba(0,0,0,0.2);}
.resultTable td, .resultTable th{vertical-align: top; padding:5px 10px;}
.resultTable td:nth-child(1){width:5%;}
.resultTable td:nth-child(2){width:55%;}
.resultTable td:nth-child(3){width:40%;}
.resultTable tr:nth-child(odd){background:rgba(0,0,0,0.05);}

.txt-center{text-align:center;}

.resultContent h3{font-family: 'nanR';}

/* Ended 20160713 */

@media screen and (max-width: 1024px) {
	.headerContent{padding:30px 20px 0}
	 
}
@media screen and (max-width: 960px) {
	.judgesBox ul li:hover a img.judgesHover{display:block;}/*31/03/2016 UPDATED*/
	.judgesBox ul li:hover{background:#fff}/*31/03/2016 UPDATED*/
	.faqTexture, .prizesTextureLeft, .prizesTextureRight{display:none;}
	.faq{padding: 0 30px 0;}
	.navigation{width:60%;}
	.navigation ul li{padding:0 5px;}
	.footerLink{width:100%; text-align:center;}
	.footerSocial{margin: 40px auto 0; float:none;}
	.mainHeader{margin-top:67px; height:inherit;}
	.subNavi ul li{padding:0 10px 20px}
	.subNavi ul li a{padding:25px 5px 5px 0}
	.logoMasthead{position:absolute;left:0;top:0; width:100%; margin:0;}
	.headerContent{width:100%; margin-top:55%; padding: 0 30px; text-align: center;}
	.logoMasthead img{max-width:inherit; width:80%;}
	.eventTimeline, .judgesBox{padding: 60px 20px 0px;}
	 .howToJoin{padding:30px 20px 0;}
	.prizesBox{padding: 60px 20px 30px;}
	.categories{padding:60px 0 0}
	.categories h4{padding: 0 50px;}
	.headerImg, .timelineContent, .categoriesType, .categoryContent, .prizesBox ul li, .consoPrize, .howToJoin ul li, .formField{width:100%;}
	.scrollDownIcon{margin: 50px 0;}
	.headerImg img{max-width:inherit;}
	.headerImg .mob, .judgesBox span{display:block}
	.headerImg .web{display:none;}
	.digitalArtImg{margin:0}
	.categoryContent{position:relative;margin-top:200px;}
	.categoryContentDesc{padding:60px 30px;}
	.prizesBox ul li{float:none; padding: 0 0 60px}
	.howToJoin ul li{float:none; }
	.consoPrize{padding:0 0 60px; margin:0;}
	.step1, .step2, .step3{margin:0 30px 30px 0 ; float:left;}
	a.btnCta{width:100%;}
	.judgesCopy h2{padding:10px 0 0 ;}
	.howToJoin ul li{padding: 0 0 50px}
	.howToJoin ul li span{display:none;}
	.howToJoin ul li h2 span{float:none;}
	.judgesBox ul li{width:50%; float:left; padding:0;}
	.judgesBox ul li a{margin:0; padding:20px 0}
	.judgingCriteriaBox ul li{width:50%; height:180px;padding:40px 10px;}
	.judgingCriteriaBox{padding: 60px 50px;}
	.judgesCopy img{float:none; margin: 80px auto 0; display:block;}
	#slider{min-height:100%; text-align:center;}
	.judgesBox img{width:100%;}
	.judgesDesc{height:90%; top:5%;}
	.judgesCopy p{font-size:150%; padding: 0;}
	.submissionContent{padding: 0 30px}
	.formField{padding:0}
	form p.btnRadio{width:50%;}
	.submissionContent h1, h4.submissionSub{text-align:center;}
	.textureSubmissionBottom{right:5%;}
	.judgesBox ul li a p{display:none}
	.mainNavi{z-index:12;}
	.navigation{position:fixed;top:0; width:100%; z-index:1; display:none;}
	.navigation ul li a{width:100%;display:block; padding:35px 0;}
	.navigation ul li a.active{ border:0;}
	.navigation ul li a.active span{float:none; display:inline-block;}
	.navigation ul{margin:0; text-align:center;background:#000; padding:20px 0;}
	.navigation ul li{width:100%;}
	.popUpBg{position:fixed;display:block;width:100%;background:#000; height:100%;opacity:0.5;display:none}
	a.btnCloseMenu{position:absolute; display:block; padding:20px; right:0px; top:0px; }
	a.btnBurger{position:relative; float:right; padding: 33px; display:block;}.btnClosePopUp:hover{
	-ms-transform: rotate(0deg); /* IE 9 */
    -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
    transform: rotate(0deg);
}        .prizeContent{width:99%;border-right:1px solid #000}
	.btnSubmit{width:100%;}
	.thankYouWrap{width:90%; left:5%;}
}

@media
(-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi) {
	form label{font-size:130%}
	.subNavi{overflow-y:hidden;}
}
@media
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 120dpi) {
	form label {
		font-size: 130%
	}

	.subNavi {
		overflow-y: hidden;
	}

	/* 1.3 dpr */
	@media (-webkit-min-device-pixel-ratio: 1.3),
	(min-resolution: 124.8dpi) {
		form label {
			font-size: 130%
		}

		.subNavi {
			overflow-y: hidden;
		}
	}

	/* 1.5 dpr */
	@media (-webkit-min-device-pixel-ratio: 1.5),
	(min-resolution: 144dpi) {
		form label {
			font-size: 130%
		}

		.subNavi {
			overflow-y: hidden;
		}
	}
	@media screen and (min-device-width: 481px) and (orientation: portrait) {
		form label {
			font-size: 130%
		}

		.subNavi {
			overflow-y: hidden;
		}
	}
	@media screen and (max-device-width: 480px) and (orientation: landscape) {
		form label, .formField span {
			font-size: 100%
		}

		.subNavi {
			overflow-y: hidden;
		}
	}
	@media screen and (min-device-width: 481px) and (orientation: landscape) {
		form label, .formField span {
			font-size: 100%
		}

		.subNavi {
			overflow-y: hidden;
		}

	}

}
	/***************************************************************
    *						Added By Faiz                          *
    ****************************************************************/
	.inputfile {
		width: 0.1px;
		height: 0.1px;
		opacity: 0;
		overflow: hidden;
		position: absolute;
		z-index: -1;
	}

	.inputfile + label {
		width: 100%;
		text-overflow: ellipsis;
		white-space: nowrap;
		cursor: pointer;
		display: inline-block;
		overflow: hidden;
		color: #fff;
		margin: 5px 0;
		font-family: 'osB';
		font-size: 1.125em;
		padding: 0;
	}

	.inputfile + label div.fileName {
		width: 70%;
		background: #fff;
		text-overflow: ellipsis;
		white-space: nowrap;
		overflow: hidden;
		height: 40px;
		line-height: 36px;
		font-family: 'osR';
		font-size: 0.9em;
		float: left;
		color: #B3B3B3;
		padding-left: 10px;
	}

	.inputfile + label div.uploadButton {
		padding: 0 3rem;
		display: inline-block;
		height: 40px;
		display: block;
		position: relative;
		width: 30%;
		float: right;
		line-height: 38px;
		text-align: center;
	}

	.fullImage .inputfile + label div.uploadButton {
		background: #eb5250;
	}

	.fullImage .inputfile + label div.uploadButton:hover {
		background: #ff2350;
	}

	.highlightImage .inputfile + label div.fileName {
		border: none;
	}

	.highlightImage .inputfile + label div.uploadButton {
		background: #faa500;
	}

	.highlightImage .inputfile + label div.uploadButton:hover {
		background: #f56b00;
	}

	input[type="email"] {
		margin: 5px 0;
		height: 40px;
		padding: 0 10px;
		font-family: 'osR';
		font-size: 1em;
	}

	.spinner {
		position: fixed;
		z-index: 999;
		left: calc(50% - 60px);
		top: calc(50% - 60px);
	}

